<section class="section pricing">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<div class="section-title">
					<div class="divider mb-3"></div>
					<h2>Package Pricing</h2>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
				<div class="card rounded-0 px-4 py-5 h-100">
					<h4 class="card-title text-capitalize font-weight-normal font-secondary">1 Month</h4>
					<h3 class="text-lg font-secondary position-relative mt-2">
						<sup class="text-sm position-absolute ">&#8377;</sup>2200
					</h3>

					<div class="card-body mt-2">
						<ul class="list-unstyled lh-35 mb-4">
							<li class="text-black font-weight-bold"><i class="mr-3 text-color "></i></li>
							<li class="text-black font-weight-bold"><i class="ti-check mr-3 text-color "></i>1 Month</li>
							<li class="text-black font-weight-bold"><i class="ti-check mr-3 text-color "></i>Cardio</li>
							<li><i class="ti-close mr-3"></i>Personal Training</li>
						</ul>
						<a href="#" class="btn btn-solid-border text-black">Buy Now</a>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
				<div class="card rounded-0 px-4 py-5 h-100">
					<h4 class="card-title text-capitalize font-weight-normal font-secondary">
						3 Months
					</h4>
					<h3 class="text-lg font-secondary position-relative mt-2">
						<sup class="text-sm position-absolute">&#8377;</sup>5500
					</h3>

					<div class="card-body mt-2">
						<ul class="list-unstyled lh-35 mb-4">
							<li class="text-black font-weight-bold"><i class="ti-check mr-3 text-color "></i>Save Upto 17%</li>
							<li class="text-black font-weight-bold"><i class="ti-check mr-3 text-color "></i>3 Months</li>
							<li class="text-black font-weight-bold"><i class="ti-check mr-3 text-color "></i>Cardio</li>
							<li><i class="ti-close mr-3"></i>Personal Training</li>
						</ul>
						<a href="#" class="btn btn-solid-border text-black">Buy Now</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
				<div class="card rounded-0 px-4 py-5 h-100">
					<h4 class="card-title text-capitalize font-weight-normal font-secondary">6 Months</h4>
					<h3 class="text-lg font-secondary position-relative mt-2">
						<sup class="text-sm position-absolute">&#8377;</sup>9500
					</h3>

					<div class="card-body mt-2">
						<ul class="list-unstyled lh-35 mb-4">
							<li class="text-black font-weight-bold"><i class="ti-check mr-3 text-color "></i>Save Upto 28%</li>
							<li class="text-black font-weight-bold"><i class="ti-check mr-3 text-color "></i>6 Months</li>
							<li class="text-black font-weight-bold"><i class="ti-check mr-3 text-color "></i>Cardio</li>
							<li><i class="ti-close mr-3"></i>Personal Training</li>
						</ul>
						<a href="#" class="btn btn-solid-border text-black">Buy Now</a>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
				<div class="card rounded-0 px-4 py-5 h-100">
					<h4 class="card-title text-capitalize font-weight-normal font-secondary">
						<span class="text-sm bg-dark text-light py-1 px-2 mr-2">Popular</span>Spartan
					</h4>
					<h3 class="text-lg font-secondary position-relative mt-2">
						<sup class="text-sm position-absolute">&#8377;</sup>14500
					</h3>

					<div class="card-body mt-2">
						<ul class="list-unstyled lh-35 mb-4">
							<li class="text-black font-weight-bold"><i class="ti-check mr-3 text-color "></i>Save Upto 45%</li>
							<li class="text-black font-weight-bold"><i class="ti-check mr-3 text-color "></i>12 Months</li>
							<li class="text-black font-weight-bold"><i class="ti-check mr-3 text-color "></i>Cardio</li>
							<li><i class="ti-close mr-3"></i>Personal Training</li>
						</ul>
						<a href="#" class="btn btn-main">Buy Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
