<section class="section textimonial position-relative bg-3">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="row justify-content-center">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<div class="divider mb-3"></div>
							<h2 class="text-white">What People say</h2>
						</div>
					</div>
				</div>

				<div class="testimonial-slider">
					<div class="text-center mb-4 ">
						<i class="ti-quote-left text-lg text-color"></i>
						<h3 class="mt-4 text-white letter-spacing">Fantastic gym</h3>
						<p class="my-4 text-white-50">
							Hello My self Anmol soni i joined sparta the gym 3 months ago, my overall experience was amazing and all
							the trainers are so professional, friendly and very helping ... And special thanks to Abhinav sir's
							guidance which helped me a lott ... At last Fantastic gym</p>

						<div>
							<h4 class="mb-0 text-capitalize text-white font-weight-normal">Anmol s</h4>
						</div>
					</div>
					<div class="text-center mb-4">
						<i class="ti-quote-left text-lg text-color"></i>
						<h3 class="mt-4 text-white letter-spacing">Sparta the gym is such a vibe!</h3>
						<p class="my-4 text-white-50">Sparta the gym is such a vibe to all gym enthusiastic peoples . The well
							maintained equipments ,hygiene ,atmosphere, good staff ,accessibility to personal valueable goods lockers
							rooms etc made this gym perfect to everyone to hit the floor💯Mr. Abhinav kherde sir personally take a
							look at every aspects to make the gym very up to date .under his correct guidance anyone can transform
							into a fit fine and sound body . Highly recommended gym 💯 All the best 👍</p>
						<div>
							<h4 class="mb-0 text-capitalize text-white font-weight-normal">Yashasvi K</h4>
						</div>
					</div>

					<div class="text-center mb-4">
						<i class="ti-quote-left text-lg text-color"></i>
						<h3 class="mt-4 text-white letter-spacing">Fantastic Gym with friendly coach!</h3>
						<p class="my-4 text-white-50">Fantastic Gym with friendly coach!! Thank you Abhinav sir! We just have to do
							is show up, and the trainers will take care of the rest. Gym sessions are trainer driven.
							Facility is great, and it shows results. Loved the ambience energy.</p>
						<div>
							<h4 class="mb-0 text-capitalize text-white font-weight-normal">Vaidehi</h4>
						</div>
					</div>

					<div class="text-center mb-4">
						<i class="ti-quote-left text-lg text-color"></i>
						<h3 class="mt-4 text-white letter-spacing">Nice gym, with all amenities and good environment.</h3>
						<p class="my-4 text-white-50">Nice gym, with all amenities and good environment. Enjoyed the workout, and
							the outstanding facilities.</p>
						<div>
							<h4 class="mb-0 text-capitalize text-white font-weight-normal">Shantanu</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
